body {
  font-family: "Quicksand", sans-serif;
}
header {
  background-color: #ab1818;
  color: hwb(0 100% 0%);
  padding: 10px;
  text-align: center;
}

.articles {
  /* margin: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.articles h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.articles ul {
  list-style: none;
  padding: 0;
}

.articles li {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.articles h3 {
  font-size: 20px;
  margin: 0;
}

.articles p {
  margin: 5px 0;
}

.articles img {
  max-width: 100%;
  height: auto;
}

.comment-count {
  background-color: #0074d9;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin: 5px 0;
  width: 100px;
}

.created-at {
  color: #555;
  font-size: 14px;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.atributes {
  display: flex;
  justify-content: space-between;
}

.topic {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

